
.input-c {
  border-radius: 3px !important;
}

.light-name{
  color: #fdf0d5 !important;
}


.f-21{
  font-size: 21px !important;
}

.bg-primary {
  background-color: #243447 !important;
}

.text-primary {
  color: #42A5F5 !important;
}

a {
  color: #30475e;
}

a:hover, a:focus, a:active {
  color: #42A5F5;
  text-decoration: none;
}


/* PORTFOLIO */
.hoverEffect {
  /*padding: 15px;*/ /* JUST TO LOOK COOL */
  /* border: 1px solid #0000; */ /* JUST TO LOOK COOL */
/*  background: #000;*/
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all .3s ease-in-out;
}

.hoverEffect:hover {
  box-shadow: rgba(255, 255, 255, 0.22) 0px 5px 10px;
  transform: translate3d(0px, -5px, 0px);
}

.port-title {
  color: #42A5F5;
  font-weight: 600;
}

.port-container .port-text {
  color: #ffff;
  display: inline-block;
}

.port-container .port-text a{
  font-weight: 500;
  color: #ffff
}

.port-container .port-text:nth-child(2) a{
  color: #ffff;
  font-weight: 500;
}

.port-container .port-text a:hover{
  color: #42A5F5;
}

.port-tech{
  margin-bottom: 15px !important;
}


/* IMAGE THUMBNAILS */
.imageThumbnail .imghome {
  position: relative;
  width: 100%;
}

.imageThumbnail .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imageThumbnail .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageThumbnail .middle a:hover{
  background: none;
  border-color: black;
}

.imageThumbnail .imghome:hover .image {
  opacity: 0.3;
}

.imageThumbnail .imghome:hover .middle {
  opacity: 1;
}

.imageThumbnail .text {
  font-weight: 0;
  font-size: 1.8rem;
}


/* back to top */
#button {
  display: inline-block;
/*  background-color: #FF9800;*/
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background: rgba(238,169,144, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
}
#button::after {
  /*content: "\f077";*/
  /*font-family: FontAwesome;*/
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: rgba(170,111,115, 0.8)

}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


/*  Animated Buttons */
.btn {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: transparent;
  white-space: nowrap;
}
.btn--border::after, .btn--border::before,
.btn--border span::after,
.btn--border span::before {
  content: "";
  position: absolute;
  background-color: white;
  transition: 0.5s ease;
}
.btn--border::after, .btn--border::before {
  height: 100%;
  width: 2px;
  top: -2px;
}
.btn--border::after {
  left: -2px;
}
.btn--border::before {
  right: -2px;
}
.btn--border span::after,
.btn--border span::before {
  height: 2px;
  width: 100%;
  left: -2px;
}
.btn--border span::after {
  top: -2px;
}
.btn--border span::before {
  bottom: -2px;
}
.btn--border:hover:after {
  transform: translatex(-12px);
}
.btn--border:hover:before {
  transform: translatex(12px);
}
.btn--border:hover span::after {
  transform: translatey(-12px);
}
.btn--border:hover span::before {
  transform: translatey(12px);
}

.btn--future::after, .btn--future::before {
  content: "";
  position: absolute;
  border: 2px solid white;
  width: calc(100% + 15px);
  height: 60px;
  transition: 0.5s ease;
}
.btn--future::after {
  top: -15px;
  left: -15px;
  border-right: none;
  border-bottom: none;
}
.btn--future::before {
  bottom: -15px;
  right: -15px;
  border-left: none;
  border-top: none;
}
.btn--future:hover:after, .btn--future:hover:before {
  width: calc(100% - 30px);
  height: 70px;
}



/* SWITCH DARK MODE */
.s-mode{
    position: fixed;
    right: 0;
    display: block;
    padding: 10px;
    margin-top: 50px;
    margin-right: 3%;
    height: 20px;
    z-index: 999;
}


/* SKILL */
.skill-container a{
  display: inline-block;
  margin: 10px;
}

.skill-container a img{
  height: 60px;
}



/** Light Mode Styles*/
.light-mode{
  background: #fdf0d5 !important;
}

.light-mode .light-name{
  color: #243447 !important;
}

.light-mode .bg-primary {
  background-color: #171D20 !important;
}

.light-mode .subheading, 
.light-mode ul>li, 
.light-mode .port-tech, 
.light-mode .subheading>div,
.light-mode .subheadingtop,
.light-mode .type-it{
  color: #243447 !important;
}

.light-mode .light-header-name, 
.light-mode .text-secondary, 
.light-mode .port-title, 
.light-mode .btn,
.light-mode label,
.light-mode .btn--future::after, 
.light-mode .btn--future::before{
  color: #073b4c !important;
}

.light-mode h3, 
.light-mode .resume-date, 
.light-mode .port-links>a, 
.light-mode .port-title>a,
.light-mode .social-links{
  color: #118ab2 !important;
}

.light-mode .port-links>a:hover, .light-mode .port-title>a:hover{
    color: #42A5F5 !important;
    border: 2px solid white !important;
}

.light-mode .btn {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  border: 2px solid #073b4c;
  outline: none;
  color: #073b4c;
  background-color: transparent;
  white-space: nowrap;
}
.light-mode .btn--border::after, .light-mode .btn--border::before,
.light-mode .btn--border span::after,
.light-mode .btn--border span::before {
  content: "";
  position: absolute;
  background-color: #073b4c;
  transition: 0.5s ease;
}

.light-mode .btn--future::after, .btn--future::before {
  content: "";
  position: absolute;
  border: 2px solid #073b4c;
  width: calc(100% + 15px);
  height: 60px;
  transition: 0.5s ease;
}

.resume-date{
  font-weight: 500 !important;
}


.viber-c{
  color: #79509a;
  font-size: 26px !important;
}

.whatsapp-c{
  color: #59f775;
  font-size: 26px !important;
}


.f25{
  font-size: 25px !important;
}

@media only screen and (max-width : 1224px) {
  
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .skill-container a img{
    height: 60px;
  }  
  .s-mode{
    margin-top: 40px;
    margin-right: 2%;
  }
}

@media only screen and (max-device-width : 767px) {

  .skill-container a{
    margin: 15px;
  }

  .skill-container a img{
    height: 60px;
  }  

  .s-mode{
    margin-top: 40px;
    margin-right: 2%;
  }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .skill-container a img{
    height: 50px;
  }  

  .s-mode{
    margin-top: 40px;
    margin-right: 2%;
  }
}







