/*!
 * Start Bootstrap - Resume v5.0.7 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
  /*color: #495057;*/
  background: #171D20;
}

#quote{
  margin-top: 100px;
  margin-bottom: 100px;
}
#quote blockquote p{
  font-size: 2.5rem;
  color: white;
}

#quote blockquote footer{
  font-size: 1.5rem;
}


#homepageContent{
  background: #141d26;
}

.form-control{
  border-radius: 0px !important;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  color: #888`;
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  color: #ffffff;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheadingtop {
  font-weight: 300;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /*font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-size: 1.2rem;
}

.subheading {
  font-weight: 300;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /*font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  font-size: 1.3rem;
}

/*.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #000;
}
*/
.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item{
  color: #495057;
}

.dev-icons .list-inline-item i:hover {
  color: #ffffff;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #333;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
    section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media(max-width:640px){
  .subheadingtop {
    font-weight: 300;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /*font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    font-size: 1rem;
  }

  .dev-icons li i{
    font-size: 4rem;
  }

 .downloadcv{
    font-size: .9rem !important;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3{
    font-size: 1.9rem;
  }

  #quote blockquote p{
  font-size: 1.9rem;
  color: white;
  }

  #quote blockquote footer{
    font-size: 1rem;
  }


}

.bg-primary {
  background-color: #243447 !important;
}

.text-primary {
  color: #42A5F5 !important;
}

a {
  color: #30475e;
}

a:hover, a:focus, a:active {
  color: #42A5F5;
  text-decoration: none;
}

/* LIFT UP EFFECT */

.hoverEffect {
  /*padding: 15px;*/ /* JUST TO LOOK COOL */
  /* border: 1px solid #0000; */ /* JUST TO LOOK COOL */
/*  background: #000;*/
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all .3s ease-in-out;
}

.hoverEffect:hover {
  box-shadow: rgba(255, 255, 255, 0.22) 0px 5px 10px;
  transform: translate3d(0px, -5px, 0px);
}


/* IMAGE THUMBNAILS */

/* user homepage styles*/
.imageThumbnail .imghome {
  position: relative;
  width: 100%;
}

.imageThumbnail .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imageThumbnail .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageThumbnail .middle a:hover{
  background: none;
  border-color: black;
}

.imageThumbnail .imghome:hover .image {
  opacity: 0.3;
}

.imageThumbnail .imghome:hover .middle {
  opacity: 1;
}

.imageThumbnail .text {
  font-weight: 0;
  font-size: 1.8rem;
}


/* back to top */
#button {
  display: inline-block;
/*  background-color: #FF9800;*/
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background: rgba(238,169,144, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
}
#button::after {
  /*content: "\f077";*/
  /*font-family: FontAwesome;*/
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: rgba(170,111,115, 0.8)

}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


/*  Animated Buttons */
.btn {
  /*padding: 20px 30px;*/
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: transparent;
/*  margin: 40px;*/
/*  font-family: "Merriweather", seri*/f;
  white-space: nowrap;
}
.btn--border::after, .btn--border::before,
.btn--border span::after,
.btn--border span::before {
  content: "";
  position: absolute;
  background-color: white;
  transition: 0.5s ease;
}
.btn--border::after, .btn--border::before {
  height: 100%;
  width: 2px;
  top: -2px;
}
.btn--border::after {
  left: -2px;
}
.btn--border::before {
  right: -2px;
}
.btn--border span::after,
.btn--border span::before {
  height: 2px;
  width: 100%;
  left: -2px;
}
.btn--border span::after {
  top: -2px;
}
.btn--border span::before {
  bottom: -2px;
}
.btn--border:hover:after {
  transform: translatex(-12px);
}
.btn--border:hover:before {
  transform: translatex(12px);
}
.btn--border:hover span::after {
  transform: translatey(-12px);
}
.btn--border:hover span::before {
  transform: translatey(12px);
}

.btn--future::after, .btn--future::before {
  content: "";
  position: absolute;
  border: 2px solid white;
  width: calc(100% + 15px);
  height: 60px;
  transition: 0.5s ease;
}
.btn--future::after {
  top: -15px;
  left: -15px;
  border-right: none;
  border-bottom: none;
}
.btn--future::before {
  bottom: -15px;
  right: -15px;
  border-left: none;
  border-top: none;
}
.btn--future:hover:after, .btn--future:hover:before {
  width: calc(100% - 30px);
  height: 70px;
}
